@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', sans-serif;
    box-sizing: border-box;
}

body{
    color: #BDD4E7;
    background-color: #212227;
    text-align: center;
    padding: 2rem;
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    height: 25rem;
    width: 25rem;
}

.container-temp{
    color: #212227;
    background-color: #71CFF5;
    border-radius: 18px;
    padding: 2rem;
}

.container-temp div label{
    cursor: pointer;
}

.search-ubication{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-ubication input{
    width: 60%;
    border: #BDD4E7;
    padding:10px;
    border-radius: 10px;
}

.temp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-features{
    display: flex;
    justify-content: space-between;
}

.city{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.features h4 {
    margin: 0.3rem;
}

.error{
    display: none;
}

.climate{
    display: none;  
}

.resolv{
    display: block;
    margin-top: 2rem;
}

@media (max-width: 520px) {
    img{
        width: 18rem;
        height: 18rem;
    }

    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
    h4{
        font-size: 0.8rem;
    }
}

@media (max-width: 380px) {
    img{
        width: 15rem;
        height: 15rem;
    }

    h1{
        font-size: 1rem;
    }
    h2{
        font-size: 0.8rem;
    }
    .features h4{
        font-size: 0.6rem;
        margin: 0;
    }

    .container-temp{
        padding: 1rem;
    }
}